<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 同步管理系统</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/easyui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vl")
    @Scripts.Render("~/bundles/easyui")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("同步管理系统", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("同步记录", "SyncOrderList", "Sync")</li>
                    <li>@Html.ActionLink("孕妇档案", "PregnantInfoList", "Sync")</li>
                    <li>@Html.ActionLink("产检检查", "VisitRecordList", "Sync")</li>
                    @*<li>@Html.ActionLink("母亲出院", "MotherDischarge", "Sync")</li>
                    <li>@Html.ActionLink("婴儿出院", "ChildDischarge", "Sync")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - 同步管理系统 </p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
