@model LoginViewModel
@{
    Layout = "";
    ViewBag.Title = "登录";
}

<style type="text/css">
    body {
        background: url('../imgs/Login/背景.png');
        background-repeat: repeat-x;
        background-size: cover;
    }

    #loginForm {
        background: url('../imgs/Login/登录框.png');
        background-size: cover;
        width: 500px;
        height: 566px;
        float: right;
        margin-top: 100px;
        margin-right: 10%;
    }


    #loginFormTableImg {
        display: inline-block;
        margin-top: 150px;
        margin-left: 10%;
    }

        #loginFormTableImg img {
            width: 600px;
            height: 485px;
        }

    #loginFormLogImg {
        display: table-caption;
        margin-top: 50px;
        margin-left: 50px;
    }

        #loginFormLogImg img {
            width: 402px;
            height: 40px;
        }

    #loginForm .Title {
        text-align: center;
        color: white;
        font-size: 32px;
        letter-spacing: 2px;
        padding-top: 60px;
        padding-bottom: 60px;
        font-weight: bold;
    }

    #loginForm .input_block {
        padding: 0 48px 0 48px;
    }

    #loginForm .input_line {
        width: 100%;
        height: 48px;
        margin: 0;
        border: 1px solid #55bad8;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }

    #loginForm .input_text {
        width: 100%;
        height: 100%;
        background: #081f64;
        border: 0px;
        padding: 0 0 0 18px;
        color: white;
    }

    #loginForm input {
        font-size: large;
    }

        #loginForm input:-webkit-autofill {
            box-shadow: 0 0 0px 1000px #081f64 inset !important;
            text-fill-color: white;
            -webkit-text-fill-color: white;
        }

    #loginForm .text-danger {
        color: red;
    }

    #loginForm .input_buttonline {
        width: 100%;
        height: 48px;
        border: 1px solid #55bad8;
        border-radius: 3px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }

    #loginForm .input_button {
        width: 100%;
        height: 100%;
        background: #37d4e8;
        border: 0px;
        padding: 0 0 0 18px;
        color: white;
    }
</style>

<body>
    <div id="loginFormLogImg">
        <img src="/imgs/Login/名称.png" />
    </div>
    <div id="loginFormTableImg">
        <img src="/imgs/Login/球.png" />
    </div>
    <div id="loginForm">
        @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
        {
        @Html.AntiForgeryToken()
        <div class="Title">用户登录</div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <ul class="input_block">
            <li class="input_line">
                <img src="/Content/imgs/Login/img_account.png" style="width:22px;height:26px;padding: 0 10 0 10px;">
                @Html.TextBoxFor(m => m.UserName, new { @class = "input_text", @placeholder = "请输入账号" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </li>
            <li class="input_line" style="margin-top:48px;">
                <img src="/Content/imgs/Login/img_lock.png" style="width:22px;height:26px;padding: 0 10 0 10px;">
                @Html.PasswordFor(m => m.Password, new { @class = "input_text", @placeholder = "请输入密码" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </li>
            <li class="input_buttonline" style="margin-top:96px;">
                <input type="submit" value="登录" class="input_button" />
            </li>
        </ul>
        }
    </div>
</body>

<script type="text/javascript" src="../../../assets/js/jquery-3.5.1.js"></script>
<script>
    $(
        function () {

            var request = {};
            request.page = 1;
            request.limit = 5;
            request.search = [];
            request.search.push({ key: "Name", value: "1" });
            $.ajax({
                url: 'http://localhost:61696/api/EasyResearch/GetPagedProjects',
                type: 'post',
                dataType: 'json',
                data: request,
                success: function (resp) {
                    console.log(resp.data);
                }
            })


            //var projectId = 1;
            //$.ajax({
            //    url: 'http://192.168.50.213:8041/api/EasyResearch/DeleteProject',
            //    type: "post",
            //    dataType: "json",
            //    data: { projectId },
            //    success: function (resp) {
            //        console.log(resp.data);
            //    }
            //})

            //$.ajax({
            //    //url: 'http://192.168.50.213:8043/api/EasyResearch/GetDropdowns',
            //    url: 'http://192.168.50.213:8041/weatherforecast',
            //    type: 'post',
            //    dataType: 'json',
            //    data: {
            //        recordId: 111
            //    },
            //    success: function (resp) {
            //        console.log(resp.data);
            //    }
            //})

            //$.ajax({
            //    url: 'http://192.168.50.213:8041/EasyResearch2',
            //    type: 'post',
            //    dataType: 'json',
            //    data: {
            //        recordId: 111
            //    },
            //    success: function (resp) {
            //        console.log(resp.data);
            //    }
            //})

            //$.ajax({
            //    url: 'http://192.168.50.213:8041/api/EasyResearch/GetDropdowns',
            //    type: 'post',
            //    dataType: 'json',
            //    data: {
            //        type: '111'
            //    },
            //    success: function (resp) {
            //        console.log(resp.data);
            //    }
            //})

            //$.ajax({
            //    url: 'http://192.168.50.213:8001/EasyResearch2',
            //    type: 'post',
            //    dataType: 'json',
            //    data: {
            //        recordId: 111
            //    },
            //    success: function (resp) {
            //        console.log(resp.data);
            //    }
            //})

            //$.ajax({
            //    url: 'http://192.168.50.213:8001/api/EasyResearch/GetDropdowns',
            //    type: 'post',
            //    dataType: 'json',
            //    data: {
            //        type: '111'
            //    },
            //    success: function (resp) {
            //        console.log(resp.data);
            //    }
            //})

            //$.ajax({
            //    url: 'http://localhost:61696/EasyResearch2',
            //    type: 'post',
            //    dataType: 'json',
            //    data: {
            //        recordId: 111
            //    },
            //    success: function (resp) {
            //        console.log(resp.data);
            //    }
            //})

            //$.ajax({
            //    url: 'http://localhost:61696/api/EasyResearch/GetDropdowns',
            //    type: 'post',
            //    dataType: 'json',
            //    data: {
            //        type: '111'
            //    },
            //    success: function (resp) {
            //        console.log(resp.data);
            //    }
            //})

            //$.ajax({
            //    //url: 'http://192.168.50.213:8043/api/EasyResearch/GetDropdowns',
            //    url: 'http://192.168.50.213:8043/weatherforecast',
            //    type: 'post',
            //    dataType: 'json',
            //    data: {
            //        recordId: 111
            //    },
            //    success: function (resp) {
            //        console.log(resp.data);
            //    }
            //})

        }
    )
</script>