@using VLTest2015.Models
@model LoginViewModel
@{
    Layout = "";
    ViewBag.Title = "登录";
}

<style type="text/css">
    body {
        background: url('../Content/imgs/Login/背景.png');
        background-repeat: repeat-x;
        background-size: cover;
    }

    #loginForm {
        background: url('../Content/imgs/Login/登录框.png');
        background-size: cover;
        width: 500px;
        height: 566px;
        float: right;
        margin-top: 170px;
        margin-right: 10%;
    }

    #loginFormTitle {
        text-align: center;
        color: white;
        font-size: 32px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding-top: 12px;
        padding-bottom: 12px;
    }


    #loginFormTableImg {
        display: inline-block;
        margin-top: 226px;
        margin-left: 10%;
    }

    #loginFormTableImg img {
        width: 600px;
        height: 485px;
    }

    #loginFormLogImg {
        display: table-caption;
        margin-top: 50px;
        margin-left: 50px;
    }

    #loginFormLogImg img {
        width: 402px;
        height: 40px;
    }
</style>

<body>
    <div id="loginFormLogImg">
        <img src="/Content/imgs/Login/名称.png" />
    </div>
    <div id="loginFormTableImg">
        <img src="/Content/imgs/Login/球.png" />
    </div>
    <div id="loginForm">
        <section>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div id="loginFormTitle">用户登录</div>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>*@
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                    </div>
                </div>
                <p>
                    @Html.ActionLink("注册为新用户", "Register")
                </p>
                @* 在为密码重置功能启用帐户确认后启用此项
                    <p>
                        @Html.ActionLink("忘记了密码?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}